
@import "reset.scss";

$color_dark-gray: rgba(40, 40, 40, 1);
$color_light-gray: rgba(129, 129, 129, 1);
$color_green: rgba(0, 165, 90, 1);
$color_light-green: rgba(229, 246, 238, 1);

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: $color_dark-gray;
  font-weight: 400;
}

section {
  margin-bottom: 124px;

  @media(max-width: 1439px) {
    margin-bottom: 100px;
  }

  @media(max-width: 767px) {
    margin-bottom: 64px;
  }
}
._container {
  margin: 0 auto;
  max-width: 1736px;
  box-sizing: content-box;
  padding: 0 12px;

  @media (min-width: 768px) {
    padding: 0 36px;
  }

  @media (min-width: 1440px) {
    padding: 0 72px;
  }

  @media (min-width: 1920px){
    padding: 0 92px;
  }
}

.section-title {
  font-size: 48px;
  line-height: 120.83%;
  font-weight: 600;
}

/* Header, Footer *******************************************/

.header, .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
  padding: 30px;
  background-color: rgb(182, 236, 182);
}

.header {
  margin-bottom: 30px;
}

/* Page title *******************************************/

.page-title {
  font-size: 56px;
  line-height: 121.4%;
  font-weight: 600;

  @media (max-width: 1439px) {
    font-size: 48px;
  }

  @media (max-width: 767px) {
    font-size: 32px;
  }
}

.page-title__container {
  margin-bottom: 56px;

  @media (max-width: 1439px) {
    margin-bottom: 40px;
  }

  @media (max-width: 767px) {
    margin-bottom: 32px;
  }
}

/* Contacts *******************************************/

.contacts {
  margin-bottom: 124px;

  @media (max-width: 1439px) {
    margin-bottom: 100px;
  }

  @media (max-width: 767px) {
    margin-bottom: 64px;
  }
}

.contacts__container {
  position: relative;
  min-height: 728px;
  @media(max-width: 1439px) {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  @media (max-width: 767px) {
    gap: 24px;
  }
}

.contacts__map {
  position: relative;
  height: 728px;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: none;
    object-position: 50% 30%;
  }

  .pointer-icon {
    object-position: calc(50% - 11px) 26%;
  }

  @media (max-width: 1919px) {
    height: 696px;
  }

  @media (max-width: 1439px) {
    height: 400px;
  }

  @media (max-width: 767px) {
    height: 280px;
  }
}

.contacts__text-content {
  position: absolute;
  width: 554px;
  display: flex;
  flex-direction: column;
  left: 112px;
  top: 40px;
  bottom: 40px;
  padding: 56px;
  background-color: white;

  @media (min-width: 1920px){
    left: 148px;
    top: 56px;
    bottom: 56px;
  }

  @media (max-width: 1439px) {
    position: static;
    background-color: rgba(250, 250, 250, 1);
    width: 100%;
    padding: 40px 24px;
  }

  @media (max-width: 767px) {
    padding: 16px;
  }
}

.contacts-text-content__title {
  font-size: 32px;
  line-height: 125%;
  margin-bottom: 34px;

  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 28px;
  }
}

.contacts-list__item {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}


.contacts-list-item {
  display: flex;
  justify-content: space-between;

  p {
    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.contacts-list-item__sublist {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;

  @media (max-width: 767px) {
    gap: 16px;
  }
}

.contacts-phones-list__item {
  @media (max-width: 767px) {
    flex: 0 1 100%;
  }
}

.contacts-list-item__title {
  font-weight: 600;
  margin-bottom: 8px;
}

.contacts-list-item__description {
  color: $color_light-gray;
}

.contacts-list-item__button {
  align-self: end;
}

.contacts__copy-button {
  width: 56px;
  height: 56px;
  border: 1px solid rgba(217, 217, 217, 1);
  background: inherit;
  position: relative;
  transition: 0.1s;

  &::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url("../../img/contacts/copy-btn-gray-icon.svg") no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    border: 1px solid rgba(0, 165, 90, 1);

    &::before {
      background: url("../../img/contacts/copy-btn-green-icon.svg") no-repeat;
    }
  }
}

.contacts-text-content__buttons {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  button {
    font-size: inherit;
    font-weight: 500;
    padding: 16px 0px;
    flex: 0 1 213.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      margin-right: 12px;
    }
  }

  @media (max-width: 1439px) {
    margin-top: 40px;
  }

  @media (max-width: 767px) {
    margin-top: 32px;
    gap: 16px;
    button {
      flex: 1 1 100%;
    }
  }
}

.contacts-text-content__button_download {
  background-color: $color_light-green;
  color: $color_green;

  &::before {
    background: url("../../img/contacts/download-icon.svg");
  }
}

.contacts-text-content__button_call {
  background-color: $color_green;
  color: white;

  &::before {
    background: url("../../img/contacts/call-icon.svg");
    background-repeat: no-repeat;
    background-position:center;
  }
}

.contacts__description-place {
  position: absolute;
  right: 56px;
  top: 56px;

  right: 112px;
  top: 40px;

  @media (min-width: 1920px){
    right: 148px;
    top: 56px;
  }

  @media (max-width: 1439px) {
    position: static;
  }
}

.contacts-description-place {
  font-size: 14px;
  line-height: 142.8%;
  color: $color_light-gray;
  background: white;
  padding: 32px;
  width: 510px;
  display: flex;
  gap: 16px;

  @media (max-width: 1439px) {
    background-color: rgba(250, 250, 250, 1);
    width: 100%;
  }

  @media (max-width: 767px) {
    padding: 24px;
  }
}

.contacts-description-place__icon {
  align-self: start;
}

/* Gallery *******************************************/

.gallery {
  margin-bottom: 124px;

  @media(max-width: 1439px) {
    margin-bottom: 100px;
  }

  @media(max-width: 767px) {
    margin-bottom: 64px;
  }
}

.slider-container {
  overflow: hidden;
}

.gallery__img-list {
  display: flex;
  margin-bottom: 32px;
  position: relative;
  transition: all 0.3s ease;
  @media (max-width: 1439px) {
    margin-bottom: 40px;
  }

  &>:not(:last-of-type) {
    margin-right: 40px;

    @media (max-width: 1919px) {
      margin-right: 24px;
    }
  }

  @media (min-width: 769px) {
    pointer-events: none;
  }
}

.img-list-gallery__item {
  flex: 0 0 calc(33.3333% - 80px / 3);

  @media (max-width: 1919px) {
    flex: 0 0 calc(33.3333% - 16px);
  }

  @media (max-width: 768px) {
    flex: 0 0 552px;
  }
  img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  font-size: 42px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.gallery__progess-bar {
  height: 8px;
  background-color: rgba(242, 242, 242, 1);
  flex: 1 1 auto;
}
.gallery__current-progress {
  height: 100%;
  background-color: $color_green;
}

.gallery__buttons  {
  display: flex;
  gap: 16px;

  @media (max-width: 768px) {
    display: none;
  }
}

.slider-btn {
  width: 56px;
  height: 56px;
  transition: 0.3s;
  background: inherit;
  border: 1px solid rgba(0, 165, 90, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    border: 1px solid rgba(0, 165, 90, 1);
  }

  &::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../img/gallery/arrow-green-icon.svg') no-repeat center;
    position: relative;
  }

  &.slider-btn-disabled {
    border: none;
    
    &::before {
      background: url('../../img/gallery/arrow-icon.svg') no-repeat center;
    }
  }
}

.slider-prev-btn {
  &.slider-btn-disabled {
    &::before {
      transform: rotate(0);
    }
  }
  
  &::before {
    transform: rotate(-180deg);
  }
}

.slider-next-btn {
  &.slider-btn-disabled {
    &::before {
      transform: rotate(-180deg);
    }
  }
}

/* Requisites *******************************************/

.requisites__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.requisites__header {
  margin-bottom: 56px;
  order: 1;
  @media (min-width: 1440px) {
    flex: 0 0 770px;
  }

  @media (min-width: 1920px) {
    flex: 0 0 1144px;
  }

  @media(max-width: 767px) {
    margin-bottom: 32px;
  }
}

.requisites__title {
  font-size: 56px;
  line-height: 68px;
  margin-bottom: 32px;
  
  @media (max-width: 1439px) {
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 58px;
  }

  @media (max-width: 767px) {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 40px;
  }
}

.requisites__desctiption {
  color: $color_light-gray;

  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 28px;
  }
}

.requisites__download-file {
  display: flex;
  gap: 24px;
  order: 2;
  flex: 0 0 auto;
  background-color: rgba(250, 250, 250, 1);
  padding: 16px;
  align-self: start;

  @media (min-width: 1440px) {
    margin-top: 8px;
    margin-right: 160px;
  }

  @media (max-width: 1440px) {
    order: 4;
    flex: 0 0 100%;
  }

  @media (max-width: 767px) {
    gap: 16px;
  }
}

.download-file__button {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  background-color: $color_light-green;
  img {
    max-width: 100%;
  }

  &:hover {
    background-color:rgb(71, 102, 88);
  }
}

.download-file__title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 4px;
}

.download-file__description {
  font-size: 16px;
  line-height: 24px;
  color: $color_light-gray;
}

.requisites__table {
  border: 1px solid rgba(217, 217, 217, 1);
  display: flex;
  flex-direction: column;
  background-color: rgba(250, 250, 250, 1);
  order: 3;

  @media (min-width: 1920px) {
    flex: 0 0 1144px;
  }

  @media (max-width: 1919px) {
    flex: 0 0 100%;
  }

  @media (max-width: 1439px) {
    margin-bottom: 40px;
  }

  @media (max-width: 767px) {
    margin-bottom: 32px;
  }

  @media (max-width: 767px) {
    border: none;
  }
}

.list-requisites__item {
  display: flex;

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 20px;
  }

  &:not(:last-child) {
    border-bottom: 1px solid rgba(217, 217, 217, 1);
  }
}

.requisites-item__title {
  font-weight: 600;
  border-right: 1px solid rgba(217, 217, 217, 1);
  flex: 0 0 404px;

  @media (max-width: 1919px) {
    flex-basis: 416px;
  }

  @media (max-width: 1439px) {
    flex-basis: 260px;
  }

  @media (max-width: 767px) {
    border-right: none;
    flex-basis: 50%;;
  }
}

.requisites-item__title, .requisites-item__value {
  padding: 16px 32px;

  @media (max-width: 767px) {
    padding: 16px 0;
  }
}
.requisites-item__value {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  button {
    display: none;
    align-self: center;
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &:hover {
    button {
      display: flex;
    }
  }
}

/* Team *******************************************/

.team__content-container {
  position: relative;
}

.team__header {
  margin-bottom: 41px;

  @media (max-width: 1439px) {
    margin-bottom: 56px;
  }

  @media (max-width: 767px) {
    margin-bottom: 32px;
  }
}

.team__title {
  margin-bottom: 32px;

  @media (max-width: 1439px) {
    margin-bottom: 40px;
  }

  @media(min-width: 767px) {
    margin-bottom: 20px;
  }
}

.team__description {
  margin-bottom: 41px;
  font-size: 18px;
  line-height: 28px;

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 20px;
  }
}

.team__slider-container {
  overflow-x: hidden;
}

.team__photo-list {
  display: flex;
  position: relative;
  transition: all 0.3s ease;
  gap: 24px;

  @media (min-width: 1920px) {
    gap: 40px;
  }

  @media (max-width: 1439px) {
    display: grid;
    grid-template-columns: repeat(4, calc(50% - 24px / 2));
    grid-template-rows: 1fr 1fr;
    margin-bottom: 40px;
  }

  @media (max-width: 767px) {
    grid-template-rows: 1fr;
    margin-bottom: 24px;
    grid-template-columns: repeat(8, 100%);
  }

  @media (min-width: 1440px) {
    pointer-events: none;
  }
}

.photo-list-team__item {
  
  flex: 0 0 calc(25% - 120px / 4);

  @media (max-width: 1919px) {
    flex: 0 0 calc(33.333% - 48px / 3)
  }

  @media (max-width: 767px) {
    min-width: 100%;
  }

  img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  font-size: 42px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photo-item__image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 100%;
    object-fit: contain;
  }
}

.photo-item__content {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(217, 217, 217, 1);
  border-top: none;
  width: 100%;
  padding: 24px 32px;
}
.photo-item__fullname {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.photo-item__position {
  font-size: 14px;
  line-height: 20px;
  color: $color_light-gray;
}

.team__buttons {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  gap: 16px;

  @media (max-width: 1439px) {
    display: none;
  }
}

.team__progess-bar {
  height: 8px;
  width: 100%;
  background-color: rgba(242, 242, 242, 1);
  @media (min-width: 1440px) {
    display: none;
  }
}

.team__current-progress {
  height: 100%;
  background-color: rgba(0, 165, 90, 1);
}

